@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
     @apply bg-white text-gray-900;
}


.dark body {
  @apply bg-gray-900 text-gray-100;
}
